.container{
    background-color: #f6f6f6;
}
.header{
    display: grid;
    grid-template-columns: 20% 10% 20%;
    justify-content: space-between;
    padding: 5px;
    color: #fff;
    width: 100%;
    background: #ff6300;
}
.header a{
    text-decoration: none;
    color: white;
}
.logo{
 font-weight: bold;   
}
.nav{
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 18px;
}
