.container{
    display: grid;
    margin-top: 8%;
    margin-left: 30%;
    width: 40%;
    background:#f6f6f6;
    padding: 10px; 
    gap: 10px;
    grid-template-areas:"lb dt dt dt"
                         "lb dt dt dt"
                         "lb dt dt dt"
                         "lg dt dt dt";
    box-shadow: 20px 30px 50px 0px grey;                    
}

.labels{
    grid-area: lb;
    background: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.details{
    grid-area: dt;
    background: #fff;
    padding: 20px 20px 0px 20px;
}
.logo{
    grid-area: lg;
    background: #fff;
    
}

.details input{
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    background: #f6f6f6;
    
}

.labels div{
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 50px;
}

#signupbtn{
  width: 88%;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  background: #f36300;
  margin-top: 80px;
  cursor: pointer;
}

#signupbtn:hover{
    background: #e55300;
}

.logo{
    align-content: center;
    text-align: center;
    font-weight: bold;
    height: 90px;
}